<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.css\')}'}"
		includeRequireJsModules="{0: 'TYPO3/CMS/ThieleUndKlose/Autotranslate/Backend.min'}"
		pageTitle="batchTranslation">

	<div class="module">
		<div class="module-docheader">
			<div class="typo3-docheader-functions">
				<div class="module-docheader-bar module-docheader-bar-navigation">
					<div class="module-docheader-bar-column-left">
						<div class="btn-group btn-group-xs" role="group">
							<f:link.action action="list" class="btn btn-default">
								<f:translate key="BackendSelectionList">List</f:translate>
							</f:link.action>
						</div>
					</div>
					<div class="module-docheader-bar-column-right">
						<f:be.pagePath />
					</div>
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					&nbsp;
				</div>
				<div class="module-docheader-bar-column-right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div class="module-body autotranslate-backend">
			<f:alias map="{flashMessageClass:''}">
				<f:render partial="FlashMessages" arguments="{_all}" />
			</f:alias>

			<f:render section="content" />
		</div>
	</div>
</f:be.container>
