<f:if condition="{createForm.batchItem}">
    <f:comment>Must be used for TYPO3 v10 / TYPO3 v11 could also use Form</f:comment>
    <h1><f:translate key="function_links_add_item"/></h1>
    <f:form action="create" name="batchItem" method="post" object="{createForm.batchItem}">
        <div class="form-group">
            <label  class="form-label" for="pid">
                <f:translate key="mlang_labels_page"/>
            </label>
            <f:form.select property="pid" options="{createForm.pages}" class="form-control" id="pid"/>
        </div>
        <div class="form-group">
            <label  class="form-label" for="recursive">
                <f:translate key="mlang_labels_recursive"/>
            </label>
            <f:form.select name="recursive" options="{createForm.recursive}" class="form-control" id="recursive"/>
        </div>
        <div class="form-group">
            <label  class="form-label" for="priority">
                <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.priority"/>
            </label>
            <f:form.select property="priority" options="{createForm.priority}" class="form-control" id="priority"/>
        </div>
        <div class="form-group">
            <label  class="form-label" for="sysLanguageUid">
                <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.sys_language_uid"/>
            </label>
            <f:form.select property="sysLanguageUid" options="{createForm.targetLanguage}" class="form-control" id="sysLanguageUid"/>
        </div>
        <div class="form-group">
            <label class="form-label" for="translate">
                <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.translate"/>
            </label>
            <div class="input-group">
                <f:form.textfield name="translate" value="{createForm.batchItem.translate -> f:format.date(format: dateTimeFormat)}" type="datetime"  class="form-control t3js-datetimepicker t3js-clearable" data="{date-type:'datetime',date-offset:'0'}" id="translate" />
                <f:form.hidden property="translate" value="{f:format.date(date: createForm.batchItem.translate, format: 'Y-m-d\TH:i:s\Z')}" />
                <label class="mb-0 btn btn-default input-group-btn" for="translate">
                    <core:icon identifier="actions-calendar" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label  class="form-label" for="mode">
                <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.mode"/>
            </label>
            <f:form.select property="mode" options="{createForm.mode}" class="form-control" id="mode"/>
        </div>
        <div class="form-group">
            <label  class="form-label" for="frequency">
                <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.frequency"/>
            </label>
            <f:form.select property="frequency" options="{createForm.frequency}" class="form-control" id="frequency"/>
        </div>
        <f:form.hidden name="redirectAction" value="{createForm.redirectAction}"/>
        <f:form.submit value="{f:translate(key:'function_links_add_items')}" name="create" class="btn btn-default"/>
    </f:form>
</f:if>
