<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="panel-heading-row t3js-multi-record-selection-actions hidden">
    <div class="panel-heading-title">
        <strong><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.selection"/></strong>
    </div>
    <div class="panel-heading-actions">
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="go" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.translate')}">
                <core:icon identifier="actions-play" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.translate"/>
            </span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="visibility" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.disable')}">
                <core:icon identifier="actions-edit-unhide" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.disable"/>
            </span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="delete" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.delete')}">
                <core:icon identifier="actions-delete" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.delete"/>
            </span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="reset" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.reset')}">
                <core:icon identifier="actions-refresh" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.reset"/>
            </span>
        </button>
    </div>
</div>

</html>
