<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="panel-heading-row t3js-multi-record-selection-actions hidden">
    <div class="panel-heading-title">
        <strong><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.selection"/></strong>
    </div>
    <div class="panel-heading-actions">
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="go" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.translate')}">
                <core:icon identifier="actions-play" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.translate"/>
            </span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="go" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.disable')}">
                <core:icon identifier="actions-edit-unhide" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.disable"/>
            </span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-multi-record-selection-action="go" data-multi-record-selection-action-config='{"idField": "taskId"}'>
            <span title="{f:translate(key: 'LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.delete')}">
                <core:icon identifier="actions-delete" /> <f:translate key="LLL:EXT:autotranslate/Resources/Private/Language/locallang_db.xlf:autotranslate_batch.function.delete"/>
            </span>
        </button>

        <!-- <div class="btn-group" role="group">
            <f:if condition="{group.hidden}">
                <f:then>
                    <button
                        type="submit"
                        name="action[group][hidden]"
                        value="0"
                        class="btn btn-sm btn-default"
                        title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:enable')}"
                    >
                        <core:icon identifier="actions-edit-unhide"/>
                    </button>
                </f:then>
                <f:else>
                    <button
                        type="submit"
                        name="action[group][hidden]"
                        value="1"
                        class="btn btn-sm btn-default"
                        title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:disable')}"
                    >
                        <core:icon identifier="actions-edit-hide"/>
                    </button>
                </f:else>
            </f:if>
            <button
                type="submit"
                class="btn btn-sm btn-default t3js-modal-trigger"
                data-target-form="tx_scheduler_form_group_remove_{group.uid}"
                data-severity="warning"
                data-button-close-text="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel')}"
                data-bs-content="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.delete')}"
                title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:delete')}"
            >
                <core:icon identifier="actions-edit-delete"/>
            </button> -->


    </div>
</div>

</html>
