services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  ThieleUndKlose\Autotranslate\:
    resource: '../Classes/*'

  ThieleUndKlose\Autotranslate\Controller\BatchTranslationController:
    public: true

  ThieleUndKlose\Autotranslate\Command\BatchTranslation:
    tags:
      - name: console.command
        command: "autotranslate:batch:run"
        description: "Command for automatic translation of a number of elements."
        schedulable: false

  ThieleUndKlose\Autotranslate\Command\SetAutotranslateLanguages:
    tags:
      - name: console.command
        command: "autotranslate:set-languages"
        description: "Set autotranslate_languages field for existing records."
        schedulable: false

  ThieleUndKlose\Autotranslate\TsConfig\Loader:
    public: true
    tags:
      - name: event.listener
        identifier: 'add-page-configuration'
        event: TYPO3\CMS\Core\TypoScript\IncludeTree\Event\ModifyLoadedPageTsConfigEvent
        method: 'addPageConfiguration'

  ThieleUndKlose\Autotranslate\Service\BatchTranslationRunner:
    public: true

  ThieleUndKlose\Autotranslate\Hooks\DataHandler:
    public: true

